<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-12">
		<table class="table table-striped table-condensed">
			<thead>
				<th></th>
				<th>Name</th>
				<th>Description</th>
				<th>Availability</th>
				<th>Type</th>
				<th>Mix</th>
			</thead>
			<tbody>
			<tr ng-repeat="item in data">
			<td><a class="btn btn-default" ui-sref="prof.detail({ profid: item._id })">Edit Item</a></td>
			<td>{{ item.name }}</td>
			<td>{{ item.desc }}</td>
			<td>{{ item.availability }}</td>
			<td>{{ item.type }}</td>
			<td>{{ item.energyMix }}</td>
			</tr>
			</tbody>
		</table>
		<div ui-view></div>
	</div>
</div>