			<p><label for="inpFirstname">First: </label><input type="text" id="inpUsername" ng-model="user.firstName"></p>
			<p><label for="inpLastname">Last: </label><input type="text" id="inpUsername" ng-model="user.lastName"></p>
			<p><label for="inpEmail">Email: </label><input type="text" id="inpUsername" ng-model="user.email"></p>
			<p><label for="selType">Profile Type: </label><select ng-model="user.accountType" value="{{user.accountType}}"><option value="Producer">Producer</option><option value="Consumer">Consumer</option></select></p>
			<p><label>User Images</label></p>
			<p><div style="width:600px;float:left;">
				<div ng-repeat="img in user.uploads" style="width:140px;padding:5px;float:left;height:auto;">
	      	<button ng-click="removeUpload({ id: img._id.toString() })" alt="Remove image">Delete</button>
					<img ng-src="{{img.path + img.filename}}" /><br>
					<span>{{img.description}}</span>
				</div>
			</div></p>

      <label for="file">Select Files</label>
		  <input type="file" name="files" multiple file-model="uploads"><br>
		  <div>
	      <h4>Selected Images</h4>
	      <div style="padding:5px;" ng-repeat="img in uploads">
          <img style="height:100px;width:auto;padding:5px;" ng-src="{{img.dataUrl}}" /><br />
          <label>Description: </label><input type="text" ng-model="img.description" /><br />
	      </div>
		  </div>
			<p><a id="btnSignUp" ng-click="saveAccount()" href="">Save</a>&nbsp&nbsp<a id="btnCancel" ng-click="cancel()" href="">Cancel</a></p>