      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <label class="label-primary label">Renewable and Total Generation</label>
          <iframe id="eia_widget1" style="width:100%;height:500px" src="//www.eia.gov/opendata/embed/iframe.php?series_id=SEDS.TEPRB.US.A;SEDS.REPRB.US.A&analysis=none"></iframe>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <label class="label-primary label">Energy Production, % Change from 1960</label>
          <iframe id="eia_widget2" style="width:100%;height:500px" src="//www.eia.gov/opendata/embed/iframe.php?series_id=SEDS.TEPRB.US.A;SEDS.REPRB.US.A&analysis=indexpct"></iframe>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <label class="label-primary label">Retail Price for Electricity</label>        
          <iframe id="eia_widget3" style="width:100%;height:500px" src="//www.eia.gov/opendata/embed/iframe.php?geoset_id=ELEC.PRICE.RES.M&map=us_merc_en&relation_id=ELEC.PRICE.ALL.M|ENDSEC&regions=USA&relation_mode=line"></iframe>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <label class="label-primary label">Solar Generation and Generation From All Sources</label>
          <iframe id="eia_widget4" style="width:100%;height:500px" src="//www.eia.gov/opendata/embed/iframe.php?series_id=ELEC.GEN.SUN-US-94.M;ELEC.GEN.ALL-US-94.M"></iframe>
        </div>
      </div>