<div class="row">
	<div class="col-sm-6 col-md-6 col-lg-6">
		{{ message }}
	</div>
</div>
<div class="row">
	<div class="col-sm-6 col-md-6 col-lg-6">
		Choose to view and edit existing profiles or add new ones.
	</div>
</div>
<div class="row">
	<div class="col-sm-6 col-md-6 col-lg-6">
		<a ui-sref="prof.list" class="btn btn-link">View/Edit Existing Profiles</a>
	</div>
</div>
<div class="row">
	<div class="col-sm-6 col-md-6 col-lg-6">
		<a ui-sref="prof.detail" class="btn btn-link">Add New Profiles</a>
	</div>
</div>
<div ui-view></div>