<main id="main" role="main">
  <div class="visual">
    <div class="container">s
      <div class="visual-content">
        <div class="slogan">
          <strong class="title">
            <span>{{profile.type}}</span><strong> {{profile.name}}</strong>
          </strong>
        </div>
        <div class="bottom-block">
          <ul class="btn-block">
            <li><a href="#" class="btn icon-plus22">Connect</a></li>
            <li><a href="#" class="btn icon-bubble22">Message</a></li>
            <li><a href="#" class="btn icon-link39">Share</a></li>
          </ul>
          <ul class="calculation">
            <li><strong>3.7K</strong><span>Connections</span></li>
            <li><strong>10</strong><span>Projects</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="col-left">
      <div class="carousel">
        <div class="mask">
          <div class="slideset">
            <div class="slide active" style="width: 620px;"><img src="media/video1.jpg" alt="img description"></div>
            <div class="slide"><img src="{{project.bannerUrl}}" alt="img description"></div>
          </div>
        </div>
        <a class="btn-prev" href="#">Previous</a>
        <a class="btn-next" href="#">Next</a>
      </div>
      <h2>Our Story</h2>
      <p>{{ profile.desc }}</p>
    </div>
    <aside class="col-right">
      <div class="snapshot">
        <strong class="title line">Snapshot</strong>
        <dl>
          <dt>Owner</dt>
          <dd>{{profile.owner.name}}</dd>
          <dt>Street</dt>
          <dd>{{profile.address1}}<br>{{profile.address2}}<br>{{profile.city}}, {{profile.state}} {{profile.zip}}</dd>
          <dt>Type</dt>
          <dd>{{profile.type}}</dd>
          <dt>Energy Type</dt>
          <dd>{{profile.energyType}}</dd>
          <dt>Availability</dt>
          <dd>{{profile.availability}}</dd>
          <dt>Certifications</dt>
          <dd><a href="#">Learn More</a></dd>
        </dl>
      </div>
      <div class="connections">
          <strong class="title line">Connections <a href="#" class="btn icon-plus22">Connect</a></strong>
        <ul class="followers">
          <li>
            <div class="img-box"><img src="images/img-5.png" alt="img description"></div>
          </li>
          <li>
            <div class="img-box"><img src="images/img-5.png" alt="img description"></div>
          </li>
          <li>
            <div class="img-box"><img src="images/img-5.png" alt="img description"></div>
          </li>
          <li>
            <div class="img-box"><img src="images/img-5.png" alt="img description"></div>
          </li>
          <li>
            <div class="img-box"><img src="images/img-5.png" alt="img description"></div>
          </li>
          <li>
            <div class="img-box"><img src="images/img-5.png" alt="img description"></div>
          </li>
          <li>
            <div class="img-box"><img src="images/img-5.png" alt="img description"></div>
          </li>
          <li>
            <div class="img-box"><img src="images/img-5.png" alt="img description"></div>
          </li>
        </ul>
      </div>
      <div class="connections adds">
        <strong class="title">Mutual Connections</strong>
        <ul class="followers">
          <li>
            <div class="img-box"><img src="images/img-5.png" alt="img description"></div>
          </li>
          <li>
            <div class="img-box"><img src="images/img-5.png" alt="img description"></div>
          </li>
          <li>
            <div class="img-box"><img src="images/img-5.png" alt="img description"></div>
          </li>
          <li>
            <div class="img-box"><img src="images/img-5.png" alt="img description"></div>
          </li>
        </ul>
        <a href="#" class="btn">Explore</a>
      </div>
    </aside>
  </div>
  <div class="tab-nav">
    <div class="container">
      <ul class="tabset">
        <li><a href="#tab1">Projects</a></li>
        <li><a href="#tab2">Updates<span class="counter">2</span></a></li>
        <li><a href="#tab3">Comments<span class="counter">13</span></a></li>
      </ul>
      <a href="#" class="btn icon-bubble22">Message</a>
    </div>
  </div>
  <div class="container">
  	<div ui-view></div>
  </div>
</main>