// Typography

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
.h {
  font-family: $headings-font-family;
  margin: 0 ;
  color: $headings-color;
  font-weight: 600;
}

h1, .h1 {
  font-size: $h1-font-size;
  color: $green;
  @include media('<tablet') {
    font-size: 25px;
    line-height: 22px;
    margin: 0 0 5px;
  }
  @include media('<phone') {
    font-size: 22px;
  }
}

h2, .h2 {
  color: $green4;
  font-size: $h2-font-size;
  margin: 0 0 8px;
  padding: 17px 0 0;
  @include media('<tablet') {
    font-size: 19px;
  }
}

h3, .h3 {
  font-size: $h3-font-size;
    margin:0 0 16px;
    color: $green;
    @include media('<tablet') {
      font-size: 15px;
    }
}

h4, .h4 {
  font-size: $h4-font-size;
}

h5, .h5 {
  font-size: $h5-font-size;
}

h6, .h6 {
  font-size: $h6-font-size;
}

p {
  margin: 0 0 21px;
}

a {
    color: $base-link-color;
    transition: color 0.3s;
    text-decoration: underline;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}