<div class="container">
	<div class="row"><label for="txtusername">Email: </label><input type="text" id="txtusername" name="txtusername" ng-model="username"></div>
	<div class="row"><label for="txtpassword">Password: </label><input type="password" id="txtpassword" name="txtpassword" ng-model="password"></div>
	<div class="row"><button type="button" class="btn btn-primary" ng-click="authenticate()">Log In</button><button type="button" class="btn btn-primary" ng-click="cancel()">Cancel</button></div>
</div>