<div class="tab-content">
  <div id="tab1">
    <div class="text-frame ">
      <h1>Brother Baltimore Solar Co-Op</h1>
      <span class="add-text">Neighborhood Renewable Solar Power Generation</span>
      <a href="#" class="btn-back">Back to Projects</a>
    </div>
    <div class="col-left">
      <div class="carousel">
        <div class="mask">
          <div class="slideset">
            <div class="slide"><img src="images/img-4.jpg" alt="img description"></div>
            <div class="slide"><img src="images/img-4.jpg" alt="img description"></div>
            <div class="slide"><img src="images/img-4.jpg" alt="img description"></div>
          </div>
        </div>
        <a class="btn-prev" href="#">Previous</a>
        <a class="btn-next" href="#">Next</a>
      </div>
      <h2>Overview</h2>
      <p>This fall, caring homeowners from across the Baltimore area came together to form a solar purchasing group. Co-op members used their group buying power and got a discounted price for solar panels. In early December, the group selected Advanced Solar Technologies as their installer. If you’ve ever wanted to go solar and live in Baltimore or a surrounding community, now is your chance!</p>
      <h2>How does the co-op work?</h2>
      <p>Based on the same principle as buying in bulk, the co-op will go through the process of purchasing solar systems together. The group will select a single contractor to install systems on all of the homes, but each participant owns his or her system and will sign their own contract with the chosen installer.</p>
      <p>By going solar as a group, members will typically save up to 20% off the cost of a solar system. They’ll also have the support of the co-op throughout the process instead of having to go it alone. The co-op is being organized by <mark><a href="#">Interfaith Power & Light, Community Power Network (CPN)</a></mark>, and CPN’s project <mark><a href="#">MD SUN</a></mark>. Anyone located in the Baltimore area (city or county) is welcome to join.</p>
    </div>
    <aside class="col-right">
      <div class="snapshot">
        <strong class="title line">Project Snapshot</strong>
        <dl>
          <dt>Availability</dt>
          <dd>Accepting Applicants</dd>
          <dt>Type</dt>
          <dd>Electricity</dd>
          <dt>States</dt>
          <dd>MD  </dd>
          <dt>Energy Mix</dt>
          <dd>Solar: 100%</dd>
          <dt>Capacity</dt>
          <dd>2.4MW</dd>
        </dl>
      </div>
      <div class="green-box">
        <strong class="title line">Ready to Go Solar?</strong>
        <p>Contact us today to sign up or join us for an information session to find out more!</p>
        <a href="#" class="btn">Contact Us</a>
      </div>
    </aside>
  </div>
  <div id="tab2">
    <div class="text-frame ">
      <h1>Tab 2</h1>
      <span class="add-text">Neighborhood Renewable Solar Power Generation</span>
      <a href="#" class="btn-back">Back to Projects</a>
    </div>
    <div class="col-left">
      <div class="img-frame"><img src="images/img-4.jpg" alt="img description"></div>
      <h2>Overview</h2>
      <p>This fall, caring homeowners from across the Baltimore area came together to form a solar purchasing group. Co-op members used their group buying power and got a discounted price for solar panels. In early December, the group selected Advanced Solar Technologies as their installer. If you’ve ever wanted to go solar and live in Baltimore or a surrounding community, now is your chance!</p>
      <h2>How does the co-op work?</h2>
      <p>Based on the same principle as buying in bulk, the co-op will go through the process of purchasing solar systems together. The group will select a single contractor to install systems on all of the homes, but each participant owns his or her system and will sign their own contract with the chosen installer.</p>
      <p>By going solar as a group, members will typically save up to 20% off the cost of a solar system. They’ll also have the support of the co-op throughout the process instead of having to go it alone. The co-op is being organized by <mark><a href="#">Interfaith Power & Light, Community Power Network (CPN)</a></mark>, and CPN’s project <mark><a href="#">MD SUN</a></mark>. Anyone located in the Baltimore area (city or county) is welcome to join.</p>
    </div>
    <aside class="col-right">
      <div class="snapshot">
        <strong class="title line">Project Snapshot</strong>
        <dl>
          <dt>Availability</dt>
          <dd>Accepting Applicants</dd>
          <dt>Type</dt>
          <dd>Electricity</dd>
          <dt>States</dt>
          <dd>MD  </dd>
          <dt>Energy Mix</dt>
          <dd>Solar: 100%</dd>
          <dt>Capacity</dt>
          <dd>2.4MW</dd>
        </dl>
      </div>
      <div class="green-box">
        <strong class="title line">Ready to Go Solar?</strong>
        <p>Contact us today to sign up or join us for an information session to find out more!</p>
        <a href="#" class="btn">Contact Us</a>
      </div>
    </aside>
  </div>
  <div id="tab3">
    <div class="text-frame ">
      <h1>Tab 3</h1>
      <span class="add-text">Neighborhood Renewable Solar Power Generation</span>
      <a href="#" class="btn-back">Back to Projects</a>
    </div>
    <div class="col-left">
      <div class="img-frame"><img src="images/img-4.jpg" alt="img description"></div>
      <h2>Overview</h2>
      <p>This fall, caring homeowners from across the Baltimore area came together to form a solar purchasing group. Co-op members used their group buying power and got a discounted price for solar panels. In early December, the group selected Advanced Solar Technologies as their installer. If you’ve ever wanted to go solar and live in Baltimore or a surrounding community, now is your chance!</p>
      <h2>How does the co-op work?</h2>
      <p>Based on the same principle as buying in bulk, the co-op will go through the process of purchasing solar systems together. The group will select a single contractor to install systems on all of the homes, but each participant owns his or her system and will sign their own contract with the chosen installer.</p>
      <p>By going solar as a group, members will typically save up to 20% off the cost of a solar system. They’ll also have the support of the co-op throughout the process instead of having to go it alone. The co-op is being organized by <mark><a href="#">Interfaith Power & Light, Community Power Network (CPN)</a></mark>, and CPN’s project <mark><a href="#">MD SUN</a></mark>. Anyone located in the Baltimore area (city or county) is welcome to join.</p>
    </div>
    <aside class="col-right">
      <div class="snapshot">
        <strong class="title line">Project Snapshot</strong>
        <dl>
          <dt>Availability</dt>
          <dd>Accepting Applicants</dd>
          <dt>Type</dt>
          <dd>Electricity</dd>
          <dt>States</dt>
          <dd>MD  </dd>
          <dt>Energy Mix</dt>
          <dd>Solar: 100%</dd>
          <dt>Capacity</dt>
          <dd>2.4MW</dd>
        </dl>
      </div>
      <div class="green-box">
        <strong class="title line">Ready to Go Solar?</strong>
        <p>Contact us today to sign up or join us for an information session to find out more!</p>
        <a href="#" class="btn">Contact Us</a>
      </div>
    </aside>
  </div>
</div>