<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-12">
		<span class="label label-default label-lg">All Renewable and Net Energy Production</span></h3>
        <chartist class="ct-chart" chartist-data="chartist.barData" chartist-chart-type="Bar"></chartist>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-12">
		<span class="label label-default label-lg">All Renewable and Net Energy Production, % Change</span></h3>
        <canvas id="line" class="chart chart-line" chart-data="data2"
          chart-labels="labels2" chart-legend="true" chart-series="series2"
          chart-click="onClick" >
        </canvas>
	</div>
</div>

<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-12">
		<canvas id="myChart" chart-directive chart-type="chartLineType" chart-data="chartLineData"></canvas>
	</div>
</div>

<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-12">
		<span class="label label-default label-lg">Retail Cost of Electricity</span></h3>
        <canvas id="line" class="chart chart-line" chart-data="data3"
          chart-labels="labels3" chart-legend="true" chart-series="series3"
          chart-click="onClick" >
	</div>
</div>

<!-- 
<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-12">
		<canvas id="myChart2" chart-directive></canvas>
	</div>
</div> -->

<!-- <div class="rom">
	<div class="col-sm-12 col-md-12 col-lg-12">
		<span class="label label-default label-lg">All Renewable and Net Energy Production</span></h3>
        <canvas id="line" class="chart chart-line" chart-data="data"
          chart-labels="labels" chart-legend="true" chart-series="series"
          chart-click="onClick" >
        </canvas>
	</div>
</div>
<div class="rom">
	<div class="col-sm-12 col-md-12 col-lg-12">
		<span class="label label-default label-lg">All Renewable and Net Energy Production</span></h3>
        <canvas id="line" class="chart chart-line" chart-data="data"
          chart-labels="labels" chart-legend="true" chart-series="series"
          chart-click="onClick" >
        </canvas>
	</div>
</div> -->