<div class="container">
	<div class="row">
		<div class="col-sm-12 col-md-12 col-lg-12"><span>This is the home template.</span></div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-12 col-lg-12"><span>{{message}}</span></div>
	</div>
	<div class="row">
		<div class="col-sm-2 col-md-2 col-lg-2"><span>Logo</span></div>
		<div class="col-sm-4 col-md-4 col-lg-4"><label for="inpusername" class="small">Username: </label><input type="text" id="inpusername" class="small" ng-model="username"></div>
		<div class="col-sm-4 col-md-4 col-lg-4"><label for="inppassword" class="small">Password: </label><input type="password" id="inppassword" class="small" ng-model="password"></div>
		<div class="col-sm-2 col-md-2 col-lg-2"'><button type="button" class="btn btn-primary small" ng-click="register()">Register</button></div>
	</div>
</div>