<div class="row">
	<div class="col-sm-6 col-md-6 col-lg-6">
		<form ng-submit="processForm()">
			<div class="form-group"><label for="inpType">Certification: </label>
			<input type="hidden" ng-model="_id" name="hiddenId">
			<input name="inpType" type="text" class="form-control" ng-model="type" value="{{type}}"></div>
			<div class="form-group"><label for="inpDesc">Description: </label><textarea name="inpDesc" rows=6 cols=10 class="form-control" ng-model="desc"></textarea></div>
			<div class="form-group">
			<input type='submit' class="btn btn-default">&nbsp
			<button type="button" class="btn btn-warning" ng-click="cancelForm()">Cancel</button>&nbsp
			<button type="button" class="btn btn-danger" ng-click="deleteCertification()">Delete</button>
			</div>
		</form>
	</div>
</div>