<div class="row">
	<div class="col-sm-6 col-md-6 col-lg-6">
		{{ message }}
	</div>
</div>
<div class="row">
	<div class="col-sm-6 col-md-6 col-lg-6">
		<table class="table table-striped table-condensed">
			<thead>
				<th></th>
				<th>Certification</th>
				<th>Description</th>
			</thead>
			<tbody>
			<tr ng-repeat="item in data"><td><a class="btn btn-default" ui-sref="/cert/detail?id={{ item._id }}">Edit Item</a></td><td>{{ item.type }}</td><td>{{ item.desc }}</td></tr>
			</tbody>
		</table>
	</div>
</div>