<div class="row">
	<div class="col-sm-6 col-md-6 col-lg-6">
		{{ message }}
	</div>
</div>
<div class="row">
	<div class="col-sm-6 col-md-6 col-lg-6">
		Choose to view and edit existing certifications or add new ones. Certifications can also be added to the collection by using the profile form.
	</div>
</div>
<div class="row">
	<div class="col-sm-6 col-md-6 col-lg-6">
		<a ui-sref="cert.list" class="btn btn-link">View/Edit Existing Certifications</a>
	</div>
</div>
<div class="row">
	<div class="col-sm-6 col-md-6 col-lg-6">
		<a ui-sref="cert.detail" class="btn btn-link">Add New Certifications</a>
	</div>
</div>
<div ui-view></div>