$breakpoints: (
	'xs-phone': 320px,
	'phone': 480px,
	'tablet': 768px,
	'desktop': 1024px,
	'widescreen': 1200px
);

// keywords
$media-expressions: (
	'screen': 'screen',
	'print': 'print',
	'handheld': 'handheld',
	'landscape': '(orientation: landscape)',
	'portrait': '(orientation: portrait)',
	'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
	'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

// ligatured operators ≥ ≤

@import 'vendors/include-media';
@import 'vendors/normalize';
@import 'vendors/icomoon';
@import 'vendors/jcf';


@import 'base/variables';
@import 'base/functions';
@import 'base/mixins';
@import 'base/helpers';
@import 'base/reset';
@import 'base/typography';
@import 'base/forms';

html{
	height: 100%;
}

body{
	height: 100%;
	width: 100%;
	display: table;
	table-layout: fixed;
	@include media('<desktop') {
		font-size: 15px;
	}
	@include media('<phone') {
		font-size: 14px;
	}
}

// main container styles

#wrapper {
	overflow: hidden;
	position: relative;
	display: table-cell;
}

.container{
	@extend %clearfix;
	margin: 0 auto;
	padding: 0 15px;
	max-width: 970px;
	@include media('<desktop') {
		padding: 0 10px;
	}
}

// header styles

#header{
	padding: 17px 0 23px;
	position: relative;
	border-bottom: 1px solid $green7;
	@include media('<tablet') {
		padding: 15px 0;
	}
}

.home #main{
	padding: 0 0 78px;
	@include media('<tablet') {
		padding: 0 0 20px;
	}
}


// page logo styles

.logo{
	max-width: 97px;
	float: left;
	margin: 5px 0 0;
	@include media('<tablet') {
		margin:3px 0 0;
	}
}



.menu{
	@extend %clearfix;
	padding: 6px 0 0;
	@include media('<tablet') {
		padding:  10px 0;
		display: none;
		z-index: 50;
		background: $white;
		position: absolute;
		top: 100%;
		right: 0;
		transition: right 0.2s;
		width: 100%;
		text-align: center;
		border-bottom: 1px solid $green2;
	}
}

// navigation styles 

#nav{
	@extend %listreset;
	float: right;
	@include media('<tablet') {
		float: none;
		padding:0 0 10px;
	}
	li{
		float: left;
		padding: 7px 9px 6px 20px;
		@include media('<tablet') {
			float: none;
			padding: 0;
		}
		&.active a{
			color: $green4;
		}
	}
	a{
		text-decoration: none;
		font-size: 17px;
		font-weight: 600;
		color: $green2;
		transition: all 0.3s;
		@include media('<tablet') {
			padding: 7px;
			display: block;
		}
		&:hover{
			color: $green4;
		}
	}
}

.active {
	.menu{
		display: table;
		table-layout: fixed;
	}
	.opener {
		span{
			opacity:0;
		}
		&:after,
		&:before{
			transform:rotate(45deg);
			top:10px;
			left:4px;
			right:15%;
		}
		&:after{transform:rotate(-45deg);}
	}
}

.opener{
	float: right;
	width: 31px;
	height: 31px;
	margin: 8px 0 3px;
	position:relative;
	display: none;
	@include media('<tablet') {
		display: block;
	}
	&:before,
	&:before,
	&:after,
	& span{
		background:$green2;
		border-radius:4px;
		position:absolute;
		top:13px;
		left: 4px;
		width: 23px;
		height:5px;
		margin-top:-2px;
		transition:all 0.2s linear;
	}
	&:before,
	&:after{
		content:'';
		top:5px;
	}
	&:after{top:21px;}
	&:hover{opacity:.9;}
}



.nav-btn{
	@extend %listreset;
	float: right;
	@include media('<tablet') {
		float: none;
		display: table-footer-group;
	}
	li{
		float: left;
		margin: 0 0 0 20px;
		@include media('<tablet') {
			float: none;
			margin: 0 0 10px;
		}
	}
	a{
		text-decoration: none;
		min-width: 100px;
		padding: 3px 10px 7px;
		border: 1px solid $green2;
		color: $green2;
		line-height: 24px;
		&:hover{
			color: $white;
			background: $green2;
		}
	}
}


.btn{
	text-align: center;
	border-radius: 3px;
	display: inline-block;
	vertical-align: top;
	font-size: 17px;
	font-weight: 600;
	transition: all 0.3s;
	text-decoration: none;
	border: 1px solid $white;
	color: $white;
	@include media('<tablet') {
		font-size: 14px;
	}
	&:before{
		font-weight: normal;
	}
	&.icon-plus22,
	&.icon-link39,
	&.icon-bubble22{
		position: relative;
		font-family: $base-font-sans-serif;
		line-height: 20px;
		&:before{
			font-family: 'icomoon';
			font-size: 16px;
			position: absolute;
			left: 11px;
			top: 50%;
			transform: translateY(-50%);
			@include media('<phone') {
				left: 7px;
				font-size: 12px;
			}
		}
	}
	&.icon-plus22{
		background: $yellow;
		border-color: $yellow;
		&:hover{
			background: $yellow2 !important;
			border-color: $yellow2 !important;
		}
	}
}

// visual block styles

.visual{
	min-height: 240px;
	margin:0 0 41px;
	background: url(../images/img-1.jpg) no-repeat;
	background-size: cover;
	@include media('<tablet') {
		margin: 0 0 20px;
	}
	.visual-img img{
		width: 100%;
	}
	.container{
		white-space: nowrap;
		&:before{
			content:"";
			height: 240px;
			width: 1px;
			display: inline-block;
			vertical-align: middle;
			margin: 0 -4px 0 0;
		}
	}
}

.visual-content{
	white-space: normal;
	display: inline-block;
	vertical-align: middle;
	margin: 24px -4px 0 0;
	width: 100%;
	@include media('<tablet') {
		margin: 0 -4px 0 0;
	}
	.bottom-block{
		@extend %clearfix;
		padding: 10px 99px 10px;
		@include media('<desktop') {
			padding: 10px 89px 10px;
		}
		@include media('<tablet') {
			padding: 15px 0 10px 73px;
		}
		@include media('<phone') {
			padding: 18px 0 10px;
		}
	}
	.add-logo{
		max-width: 541px;
		@include media('<desktop') {
			max-width: 480px;
		}
		@include media('<tablet') {
			max-width: 400px;
		}
		@include media('<phone') {
			max-width: 300px;
		}
	}
}

.btn-block{
	@extend %listreset;
	float: left;
	li{
		float: left;
		margin-left: 10px;
		&:first-child{
			margin: 0px;
		}
	}
	.btn{
		padding:4px 16px 7px 36px;
		line-height: 22px;
		@include media('<phone') {
			padding:3px 10px 5px 28px;
		}
		&:hover{
			background:rgba($white,0.35);
		}
	}
}

.calculation{
	@extend %listreset;
	margin: -4px 0 0;
	float: right;
	color: $white;
	font-size: 17px;
	line-height: 20px;
	@include media('<desktop') {
		
		font-size: 15px;
	}
	@include media('<tablet') {
		width: 100%;
		float: left;
		margin: 0;
		padding: 10px 0 0;
	}
	li{
		float: left;
		margin: 0 27px 0 0 ;
		@include media('<tablet') {
			margin: 0 15px 0 0;
		}
		&:last-child{
			margin: 0;
		}
	}
	strong{
		display: block;
		font: 600 24px/24px $base-font-sans-serif;
		@include media('<desktop') {
			font-size: 22px;
		}
	}
}


.col-left{
	float: left;
	width: 68.1%;
	padding: 0 20px 23px 0 ;
	@include media('<desktop') {
		width: 65%;
		padding: 0 10px 10px 0;
	}
	@include media('<tablet') {
		width: 100%;
		padding: 0 0 20px;
	}
	p{
		margin: 0 0 7px;
	}
}

// additional content styles

.col-right{
	float: right;
	width: 31.9%;
	border: 1px solid $gray;
	margin:0 0 24px;
	@include media('<desktop') {
		width: 35%;
		margin: 0 0 10px;
	}
	@include media('<tablet') {
		width: 100%;

	}
}

// video block styles

.video-block{
	@extend %clearfix;
	position: relative;
	height: 0;
	overflow: hidden;
	padding-bottom: 56.25%;
	margin:-1px 0 0 ; 

	// video element styles
	video{
		width: 100%;
		height: 100%;
	}
}

.title{
	display: block;
	font-weight: 600;
	font-size: 24px;
	color: $dark;
	@include media('<desktop') {
		font-size: 21px;
	}
	&.line{
		position: relative;
		padding: 0 0 20px;
		&:after{
			content:"";
			position: absolute;
			height: 5px;
			width: 30px;
			background: $green2;
			bottom: 1px;
			left: 0;
		}
	}
}

.text-holder{
	padding: 17px 0 0;
	
}

.snapshot{
	background: $gray;
	padding: 16px 20px 17px;
	@include media('<desktop') {
		padding: 12px;
	}
	dl{
		@extend %clearfix;
		font-size: 14px;
		margin: 0;
		padding: 15px 0 0;
		@include media('<desktop') {
			font-size: 13px;
		}
	}
	dt{
		font-weight: 600;
		width:40%;
		margin: 0;
		float: left;
		color: $green4;
	}
	dd{
		color: $green3;
		overflow: hidden;
		padding: 0 0 17px;
		&:last-child{
			margin: 0;
		}
	}
	a:hover{
		color: lighten($black,50%);
	}
}

.connections{
	padding:14px 19px;
	@include media('<desktop') {
		padding: 12px;
	}
	.line{
		position: relative;
		padding: 0 100px 20px 0;
	}
	.btn{
		padding: 3px 10px 5px 24px;
		position: absolute;
		top: 50%;
		transform: translateY(-89%);
		right: 0;
		border-radius: 4px;
		display: block;
		min-width: 90px;
		max-width: 95px;
		font-size: 13px;
		line-height: 18px;
		color: $white;
		margin: 4px 0 0 0;
		&:before{
			font-size: 12px;
			left: 8px;
		}
	}
}

.adds{
	padding:2px 19px 27px;
	@include media('<desktop') {
		padding: 12px;
	}
	.followers{
		padding: 17px 0 0;
		&:before{
			display: none;
		}
	}
	.title{
		font-size: 15px;
	}
	.btn{
		min-width: 90px;
		display: inline-block;
		border-color: $yellow;
		color: $yellow;
		font-size: 13px;
		padding: 2px 7px 4px;
		line-height: 20px;
		position: static;
		margin: 0 -4px 0 0;
		transform: none;
		&:hover{
			background: $yellow;
			color: $white;
		}
	}
}

.followers{
	@extend %listreset;
	@extend %clearfix;
	padding: 19px 0 0;
	margin: 0 -10px;
	position: relative;
	text-align: center;
	&:before{
		content:"";
		position: absolute;
		bottom: -1px;
		right: 10px;
		left: 10px;
		height: 1px;
		background: $gray2;
	}
	li{
		display: inline-block;
		vertical-align: top;
		margin: 0 -4px 20px 0;
		width: 25%;
		@include media('<tablet') {
			width: 16.6%;
		}
		@include media('<phone') {
			margin: 0 -4px 10px 0;
			width: 25%;
		}
	}
	.img-box{
		display: inline-block;
		vertical-align: top;
		width: 50px;
		height: 50px;
		overflow: hidden;
		border-radius: 50%;
		img{
			width: 100%;
		}
	}
}


.tab-nav{
	padding: 22px 0;
	margin: 0 0 20px;
	background: $gray;
	@include media('<tablet') {
		padding: 15px 0;
		margin: 0 0 25px;
	}
	.container{
		@include media('<phone') {
			display: table;
			table-layout: fixed;
			width: 100%;
			text-align: center;
		}
	}
	.btn{
		float: right;
		background: $green;
		border-color: $green;
		border-radius: 4px;
		line-height: 20px;
		padding: 5px 13px 9px 35px;
		@include media('<phone') {
			float: none;
			margin: 0 0 20px;
		}
		&:hover{
			background: darken($green,5%);
			border-color: darken($green,5%);
		}
	}
}

// tabs switcher styles

.tabset{
	@extend %listreset;
	float: left;
	padding: 2px 0;
	font-weight: 600;
	@include media('<tablet') {
		padding: 6px  0 0;
	}
	@include media('<phone') {
		float: none;
		display: table-footer-group;
	}
	li{
		float: left;
		margin-right: 57px;
		@include media('<tablet') {
			margin-right: 20px;
		}
		@include media('<phone') {
			margin: 0;
			width: 33.332%;
			text-align: left;
		}
	}
	a{
		font-size: 24px;
		text-decoration: none;
		color: rgba($green4,0.4);
		position: relative;
		@include media('<tablet') {
			font-size: 16px;
		}
		@include media('<phone') {
			display: inline-block;
			vertical-align: middle;
			font-size: 15px;
		}
		&:hover{
			color: $green4;
		}
		&.active{
			color: $green4;
			&:before{
				content:"";
				position: absolute;
				bottom: -37px;
				left: 50%;
				transform: translateX(-50%);
				border-style: solid;
				border-width: 14px 13px 0 13px;
				border-color: $gray transparent transparent transparent;
				@include media('<tablet') {
					bottom: -32px;
				}
				@include media('<phone') {
					bottom: -26px;
				}
			}
		}
	}
	.counter{
		border-radius: 4px;
		display: inline-block;
		vertical-align: top;
		margin: 5px -4px 0 9px;
		min-width: 24px;
		height: 24px;
		background: #9ea19e;
		text-align: center;
		color: $white;
		font: 600 14px/22px $base-font-sans-serif;
		@include media('<tablet') {
			margin: 1px -4px 0 9px;
		}
		@include media('<phone') {
			margin: 0 -4px 0 5px;
			min-width: 21px;
			height: 21px;
			line-height: 19px;
			font-size: 13px;
		}
	}
}

.js-tab-hidden {
	display:block !important;
	left:-9999px !important;
	position: absolute !important;
	top:-9999px !important;
}

// tabs content holder styles

.tab-content{
	.text-center{
		text-align: center;
		padding: 14px 0 35px;
		@include media('<tablet') {
			padding: 15px 0;
		}
	}
	.col-left{
		h2{
			padding: 14px 0 0;
		}
		p + p{
			padding: 14px 0 0;
		}
		mark{
			background: none;
		}
		a{
			text-decoration: none;
			color: $green;
			&:hover{
				color: darken($green,10%);
			}
		}
	}
	.col-right{
		border: none;
	}
}

.text-frame{
	position: relative;
	font-size: 24px;
	color: $green2;
	padding: 11px 160px 22px 0;
	@include media('<tablet') {
		padding: 10px 140px 22px 0;
		line-height: 16px;
	}
	@include media('<phone') {
		padding: 10px 120px 22px 0;
	}
	.btn-back{
		position: absolute;
		text-align: center;
		bottom: 17px;
		right: 0;
		font-size: 17px;
		color: $green;
		padding:0 0 10px 10px;
		max-width: 160px;
		text-decoration: none;
		@include media('<tablet') {
			font-size: 15px;
			right: 5px;
			bottom: 11px;
		}
		@include media('<phone') {
			font-size: 13px;
		}
		&:hover{
			color: darken($green,15%);
		}
		&:before{
			content:"<";
			margin-right: 5px;
		}
	}
}

.add-text{
	font-size: 24px;
	color: $green2;
	@include media('<tablet') {
		font-size: 18px;
	}
	@include media('<phone') {
		font-size: 13px;
	}
}


.featured{
	margin: 0 0 18px;
	@include media('<desktop') {
		margin: 0;
	}
}

.promo-block{
	@extend %clearfix;
	border: 1px solid $gray;
	@include media('<desktop') {
		border: none;
	}
	@include media('<tablet') {
		padding: 5px 0 0;
		text-align: center;
	}
	.img-block{
		float: left;
		width: 48%;
		margin: -1px 0 -1px -1px;
		@include media('<tablet') {
			width: 100%;
			max-width: 450px;
			float: none;
			margin: 0 auto;
		}
	}

	 // article styles 

	.article{
		width: 52%;
		float: right;
		padding: 9px 19px 0 29px;
		@include media('<tablet') {
			width: 100%;
			padding: 15px 0 0;
		}
	}
	.article-title{
		padding: 5px 0 20px;
		h2{
			color: $green;
			font-size: 24px;
			padding: 0;
			margin:0;
			@include media('<tablet') {
			font-size: 19px;
		  }
		}
	}
	.more{
		border-radius: 5px;
		padding: 5px 10px 8px;
		margin: 0 0 18px;
		min-width: 120px;
		background: $green;
		border-color: $green;
		&:hover{
			background: $green5;
			border-color: $green5;
		}
	}
	p{
		margin: 0 0 17px;
	}
}

.article-wrapper{
	@extend %clearfix;
	border-top:1px solid $gray;
	padding: 20px 0 8px;
	color: $green2;
	font-size: 14px;
	text-transform: uppercase;
	@include media('<desktop') {
		text-align: left;
	}
	.accept{
		float: right;
		text-transform: none;
		max-width: 70%;
	}
	p{
		overflow: hidden;
	}
}

.three-columns{
	@extend %clearfix;
	margin: 0 -10px;
	padding: 0 0 110px;
	@include media('<tablet') {
		padding:  10px 0 50px;
		margin: 0;
	}
	@include media('<phone') {
		padding: 0;
	}
	.col{
		width: 33.332%;
		float: left;
		padding: 0 10px;
		@include media('<tablet') {
			width: 80%;
			float: none;
			padding: 0;
			margin: 0 auto 25px;
		}
		@include media('<phone') {
			width: 100%;
		}
	}
}

.promo-box{
	border: 1px solid $gray;
	a{
		text-decoration: none;
		display: block;
		&:hover .img-wrapper > img{
			opacity: 0.75;
		}
	}
}

.img-wrapper{
	position: relative;
	margin: -1px -1px 0;
	.title{
		text-align: center;
		font-weight: normal;
		position: absolute;
		background: $yellow;
		padding: 7px 10px 9px;
		top: 20px;
		line-height: 15px;
		line-height: 20px;
		font-size: 12px;
		color: $white;
		left: 60px;
		right: 60px;
		@include media('<desktop') {
			left: 30px;
			right: 30px;
		}
		@include media('<tablet') {
			left: 50px;
			right: 50px;
		}
		@include media('<phone') {
			left: 30px;
			right: 30px;
		}
		&.green{
			background: $green;
		}
		&.orange{
			background: $orange;
		}
	}
	> img{
		width: 100%;
		transition: opacity 0.3s;
		backface-visibility:hidden;
	}
}

.text-wrapper{
	padding:22px 19px ;
	font-weight: 600;
	@include media('<desktop') {
		padding: 16px 12px;
	}
	.row{
		@extend %clearfix;
	}
	dl{
		@extend %clearfix;
		border-top:1px solid $gray;
		font-size: 12px;
		font-weight: 400;
		margin: 0;
		padding:  17px 0 3px;
		@include media('<desktop') {
			font-size: 11px;
		}
	}
	dt{
		width: 40%;
		margin: 0;
		color: $green2;
		float: left;
	}
	dd{
		color: $green2;
		text-align: right;
		overflow: hidden;
		padding: 0 0 3px;
	}
}


.green-box{
	margin-top: 20px;
	padding:17px 20px 25px;
	color: $white;
	background: $green;
	.line{
		color: $white;
		margin: 0 0 14px;
		&:after{
			content:"";
			background: $white;
		}
	}
	p{
		margin: 0 0 26px;
	}
	.btn{
		padding:5px 15px 8px;
		min-width: 120px;
		&:hover{
			background:rgba($white,0.35);
		}
	}
}


#footer{
	overflow: hidden;
	display: table-footer-group;
	height: 1%;
	background: $green6;
	font-size: 14px;
	color: $green2;
	.container{
		padding: 16px 15px 10px;
	}
	p{
		overflow: hidden;
		margin: 0 0 5px;
	}
	a{
		text-decoration: none;
		color: $green2;
		&:hover{
			color: lighten($green2,13%);
		}
	}
	.privacy{
		float: right;
		font-weight: 600;
		padding: 0 0 0 20px;
	}
}