<div>
	<div>
		<h2>Bolt V2</h2>
	</div>
</div>
<div>
	<div style="padding:10px;">
	<h3>Directions</h3>
		<span>
		Click <a ui-sref="images">here</a> to view the image uploader and carousel.
		</span>
	</div>
</div>
<div>
	<div style="padding:10px;">
		<h3>Profiles</h3>
		<table style="border-collapse:separate; border-spacing:15px;">
			<thead>
				<th></th>
				<th></th>
				<th>Name</th>
				<th>Description</th>
				<th>Status</th>
				<th>Type</th>
				<th>Mix</th>
			</thead>
			<tbody >
			<tr ng-repeat="prof in profiles">
			<td><a ui-sref="profile({ profileid: prof._id, single: (prof.projects.length > 1 ? 'false' : 'true') })">Edit Item</a></td>
			<td><a ui-sref="producer({ producerId: prof._id, projectId: null })">Edit Item</a></td>
			<td>{{ prof.name }}</td>
			<td>{{ prof.desc }}</td>
			<td>{{ prof.status }}</td>
			<td>{{ prof.type }}</td>
			<td>{{ prof.energyMix }}</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
<div ng-show="authenticated">
  <input type="file" name="files" file-model="uploads"><br>
  <label for="inpDescription">Description: </label><input type="text" ng-model="description" /><br />
  <button ng-click="uploadImages()">Upload Images</button>
</div>