  <div class="container">
    <div class="wrapper">
      <form name="upload" class="form" data-ng-submit="addFile()">
          <input type="file" name="files" multiple onchange="angular.element(this).scope().uploadedFile(this)" />
          <button type="submit">Upload </button>
      </form>
    </div>
    <div class="wrapper">
    	<table style="border-collapse:separate; border-spacing:15px;">
            <thead>
                <tr>
                    <th></th>
                    <th>FileName</th>
                    <th>ContentType</th>
                </tr>
            </thead>
    		<tbody >
    		<tr ng-repeat="img in images">
    		<td><a>Edit Item</a></td>
    		<td>{{ img.fileName }}</td>
    		<td>{{ img.contentType }}</td>
    		</tr>
    		</tbody>

    	</table>
    </div>
    <div class="wrapper slider carousel">
        <img ng-repeat="img in images" class="slide slide-animation nonDraggableImage"
             ng-swipe-right="nextSlide()" ng-swipe-left="prevSlide()"
             ng-hide="!isCurrentSlideIndex($index)" ng-src="{{ root + img.fileName }}">

        <a class="btn-next" href="" ng-click="nextSlide()"></a>
        <a class="btn-prev" href="" ng-click="prevSlide()"></a>
    </div>
  </div>